<!DOCTYPE html>

{% load socialaccount %}
{%  providers_media_js %}

<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>NStoGC - Upload NBA schedule to your Google Calendar</title>

  <!-- Bootstrap core CSS -->
  <link href="{%  static "mainapp/vendor/bootstrap/css/bootstrap.min.css"%}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static "mainapp/vendor/fontawesome-free/css/all.min.css"%}" rel="stylesheet">
  <link href="{% static "mainapp/vendor/simple-line-icons/css/simple-line-icons.css"%}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="{% static "mainapp/css/landing-page.min.css"%}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="364773296968-stbv6t169k4lqn664ed4smh9l7e6ugtr.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" ></script>
</head>

<body>
  {% load static %}
  <!-- Google Connect JavaScript -->
  <script src="{% static "mainapp/js/googleapi.js" %}"></script>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
            <div class="col-lg-9">
                <h1><a class="navbar-brand" href="/">NS to GC</a></h1>
            </div>
            {% if user.is_authenticated %}
            <div class="col-lg-2 my-auto">
                <a href="{% url 'profile' %}" id="account">Welcome {{ user.username|title }} !</a>
            </div>
            <div class="col-lg-1 my-auto">
                <a href="{% url 'logout' %}" id="signout">Sign out</a>
            </div>
            {%  endif %}
        </div>
  </nav>
  <!-- Masthead -->
  {% load static %}
  <section id="homeblock">
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Upload the NBA Schedule to your Google Calendar now !</h1>
        </div>
      <div class="col-xl-9 mx-auto">
        {% if user.is_authenticated %}
            <form action="/upload">
                <button type="submit" class="btn btn-info btn-lg">Upload now</button>
            </form>
        {%  else %}
            <form action="{%  provider_login_url "google" %}">
                <button type="submit" class="btn btn-info btn-lg">Google connect</button>
            </form>
        {% endif %}
      </div>
      </div>
    </div>
  </header>

  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="text-center">
              <img class="args-pic" alt="clock" src="{% static 'mainapp/img/clock.png' %}">
            </div>
            <h3>Don't miss any game</h3>
            <p class="lead mb-0">Be prepared for all your favorite NBA events, just check your agenda !</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="text-center">
              <img id="args-pic" alt="bball" src="{% static 'mainapp/img/bball.png' %}">
            </div>
            <h3>Pick you favorite team(s)</h3>
            <p class="lead mb-0">Upload all NBA teams schedule or only the team(s) you want.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="text-center">
              <img class="args-pic" alt="schedule" src="{% static 'mainapp/img/schedule.png' %}">
            </div>
            <h3>NBA season and pre-season</h3>
            <p class="lead mb-0">Get all the games from september to april in your calendar</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-5 text-center">
        <h1>How does it work</h1>
      <div class="row no-gutters">
        <div class="col-lg-5 order-lg-2 text-white showcase-img" style="background-image: url({% static 'mainapp/img/1.png' %});"></div>
        <div class="col-lg-7 order-lg-1 my-auto showcase-text">
          <h2>Connect to you Google account</h2>
          <p class="lead mb-0">Connect to your Google account on this page, a confirmation page opens and then click on the account to use.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-5 text-white showcase-img" style="background-image: url({% static 'mainapp/img/2.jpg' %});"></div>
        <div class="col-lg-7 my-auto showcase-text">
          <h2>Pick your favorite NBA team(s)</h2>
          <p class="lead mb-0">Click on the "Updload" page, click on the team(s) you want to add. You can also choose to add all NBA teams schedules to your calendar by tclicking on the NBA logo.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-5 order-lg-2 text-white showcase-img" style="background-image: url({% static 'mainapp/img/3.png' %});"></div>
        <div class="col-lg-7 order-lg-1 my-auto showcase-text">
          <h2>Click on "upload to Google Calendar" </h2>
          <p class="lead mb-0">Click on "upload" button and see your games added to your calendar. Your will of course receive an email confirmation.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-5 text-white showcase-img" style="background-image: url({% static 'mainapp/img/4.jpg' %});"></div>
        <div class="col-lg-7 my-auto showcase-text">
          <h2>Get many infos on your NS2GC account</h2>
          <p class="lead mb-0">Click on the "Updload" page, click on the team(s) you want to add. You can also choose to add all NBA teams schedules to your calendar by tclicking on the NBA logo.</p>
        </div>
      </div>
    </div>
  </section>

<!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2019. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static "mainapp/vendor/jquery/jquery.min.js"%}></script>
  <script src="{% static "mainapp/vendor/bootstrap/js/bootstrap.bundle.min.js"%}></script>

    <script>
    if (auth2.isSignedIn.get()) {
  var profile = auth2.currentUser.get().getBasicProfile();
  console.log('ID: ' + profile.getId());
  console.log('Full Name: ' + profile.getName());
  console.log('Given Name: ' + profile.getGivenName());
  console.log('Family Name: ' + profile.getFamilyName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail());
}
    </script>
</body>

</html>

