<!DOCTYPE html>

{% load socialaccount %}
{%  providers_media_js %}

<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>NStoGC - Upload NBA schedule to your Google Calendar</title>

  <!-- Bootstrap core CSS -->
  <link href="{%  static "mainapp/vendor/bootstrap/css/bootstrap.min.css"%}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static "mainapp/vendor/fontawesome-free/css/all.min.css"%}" rel="stylesheet">
  <link href="{% static "mainapp/vendor/simple-line-icons/css/simple-line-icons.css"%}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="{% static "mainapp/css/landing-page.css"%}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="364773296968-stbv6t169k4lqn664ed4smh9l7e6ugtr.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" ></script>
</head>

<body>
  {% load static %}
  <!-- Google Connect JavaScript -->
  <script src="{% static "mainapp/js/googleapi.js" %}"></script>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
            <div class="col-6 col-sm-8 col-xl-10 col-lg-8 col-md-8 my-auto">
                <h1><a class="navbar-brand" href="/">NS to GC</a></h1>
            </div>
            {% if user.is_authenticated %}
            <div class="col-3 col-sm-2 col-xl-1 col-lg-2 col-md-2 my-auto float-left">
                <a href="{% url 'profile' %}" id="account">Account</a>
            </div>
            <div class="col-3 col-sm-2 col-xl-1 col-lg-2 col-md-2 my-auto">
                <a href="{% url 'logout' %}" id="signout">Sign out</a>
            </div>
            {%  endif %}
        </div>
  </nav>

 {% block content %}{% endblock %}

<!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="/contact">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="/terms">Terms of Use</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy;PéA. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

 <!-- Bootstrap core JavaScript -->
  <script src="{% static "mainapp/vendor/jquery/jquery.min.js"%}></script>
  <script src="{% static "mainapp/vendor/bootstrap/js/bootstrap.bundle.min.js"%}></script>

    <script>
    if (auth2.isSignedIn.get()) {
  var profile = auth2.currentUser.get().getBasicProfile();
  console.log('ID: ' + profile.getId());
  console.log('Full Name: ' + profile.getName());
  console.log('Given Name: ' + profile.getGivenName());
  console.log('Family Name: ' + profile.getFamilyName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail());
}
    </script>

    <script>
    function loaderActive() {
      var spinner = document.getElementById('loader');
      spinner.style.visibility = 'visible';
    }
    </script>

  <script>
    function checkedOrNot() {
      // Get the output text
      var text = document.getElementById("text");
      var input1 = document.getElementById('teambox1').checked;
      var input2 = document.getElementById('teambox2').checked;
      var input3 = document.getElementById('teambox3').checked;
      var input4 = document.getElementById('teambox4').checked;
      var input5 = document.getElementById('teambox5').checked;
      var input6 = document.getElementById('teambox6').checked;
      var input7 = document.getElementById('teambox7').checked;
      var input8 = document.getElementById('teambox8').checked;
      var input9 = document.getElementById('teambox9').checked;
      var input10 = document.getElementById('teambox10').checked;
      var input11 = document.getElementById('teambox11').checked;
      var input12 = document.getElementById('teambox12').checked;
      var input13 = document.getElementById('teambox13').checked;
      var input14 = document.getElementById('teambox14').checked;
      var input15 = document.getElementById('teambox15').checked;
      var input16 = document.getElementById('teambox16').checked;
      var input17 = document.getElementById('teambox17').checked;
      var input18 = document.getElementById('teambox18').checked;
      var input19 = document.getElementById('teambox19').checked;
      var input20 = document.getElementById('teambox20').checked;
      var input21 = document.getElementById('teambox21').checked;
      var input22 = document.getElementById('teambox22').checked;
      var input23 = document.getElementById('teambox23').checked;
      var input24 = document.getElementById('teambox24').checked;
      var input25 = document.getElementById('teambox25').checked;
      var input26 = document.getElementById('teambox26').checked;
      var input27 = document.getElementById('teambox27').checked;
      var input28 = document.getElementById('teambox28').checked;
      var input29 = document.getElementById('teambox29').checked;
      var input30 = document.getElementById('teambox30').checked;
      if (input1 === false && input2 === false && input3 === false && input4 === false && input5 === false && input6 === false && input7 === false && input8 === false && input9=== false && input10 === false
      && input11 === false && input12 === false && input13 === false && input14 === false && input15 === false && input16 === false && input17 === false && input18 === false && input19 === false && input20 === false
      && input21 === false && input22 === false && input23 === false && input24 === false && input25 === false && input26 === false && input27 === false && input28 === false && input29 === false && input30 === false) {
            text.style.visibility = "visible";
            text.style.color = 'red';
            return false;
          }
      else {
          loaderActive()
      }
    }
    </script>

    <script>
    function allTeams(source) {
        checkboxes = document.getElementsByName('team');
        for(var i=0, n=checkboxes.length;i<n;i++) {
        checkboxes[i].checked = source.checked;
        }
    }
    </script>
</body>

</html>
