<!DOCTYPE html>

{% load socialaccount %}
{%  providers_media_js %}

<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>NStoGC - Upload NBA schedule to your Google Calendar</title>

  <!-- Bootstrap core CSS -->
  <link href="{%  static "mainapp/vendor/bootstrap/css/bootstrap.min.css"%}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static "mainapp/vendor/fontawesome-free/css/all.min.css"%}" rel="stylesheet">
  <link href="{% static "mainapp/vendor/simple-line-icons/css/simple-line-icons.css"%}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="{% static "mainapp/css/landing-page.css"%}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="364773296968-stbv6t169k4lqn664ed4smh9l7e6ugtr.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" ></script>
</head>

<body>
  {% load static %}
  <!-- Google Connect JavaScript -->
  <script src="{% static "mainapp/js/googleapi.js" %}"></script>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
            <div class="col-lg-9">
                <h1><a class="navbar-brand" href="/">NS to GC</a></h1>
            </div>
            {% if user.is_authenticated %}
            <div class="col-lg-2 my-auto">
                <a href="{% url 'profile' %}" id="account">Welcome {{ user.username|title }} !</a>
            </div>
            <div class="col-lg-1 my-auto">
                <a href="{% url 'logout' %}" id="signout">Sign out</a>
            </div>
            {%  endif %}
        </div>
  </nav>
     <!-- Upload section -->
  <section id="upload_block">
    {% if messages %}
        {% for message in messages %}
              <div class="alert">
                <div class="alert alert-{{ message.tags }}">{{  message }}</div>
              </div>
        {% endfor %}
    {% endif %}
    <div class="container-fluid p-4 text-center">
      <div class="row no-gutters justify-content-center">
          <div class="col-lg-9 my-auto showcase-text">
            <h1>Pick the team(s) you want to follow</h1>
              <form action="{% url 'upload' %}" method="get" name="team_form" onsubmit="checkedOrNot();loaderActive();">
                  <div class="row">
                      <div class="col-lg-5">
                          <h2>Eastern conference</h2>
                          <div class="row h-250 align-items-center justify-content-center text-center">
                              <ul>
                                  <li>
                                      <input type="checkbox" id="teambox1" name="team" value="Atlanta Hawks"/>
                                      <label for="teambox1"><img class="img-thumbnail" width="70" alt="Atlanta Hawks" src="https://upload.wikimedia.org/wikipedia/fr/e/ee/Hawks_2016.png" /></label>
                                  </li>
                                  <li>
                                      <input type="checkbox" id="teambox2" name="team" value="Boston Celtics"/>
                                      <label for="teambox2"><img class="img-thumbnail" width="70" alt="Boston Celtics" src="https://upload.wikimedia.org/wikipedia/fr/thumb/6/65/Celtics_de_Boston_logo.svg/1024px-Celtics_de_Boston_logo.svg.png" /></label>
                                  </li>
                                  <li>
                                      <input type="checkbox" id="teambox3" name="team" value="Brooklyn Nets"/>
                                      <label for="teambox3"><img class="img-thumbnail" width="70" alt="Brooklyn Nets" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Brooklyn_Nets_newlogo.svg/130px-Brooklyn_Nets_newlogo.svg.png" /></label>
                                  </li>
                                  <li>
                                      <input type="checkbox" id="teambox4" name="team" value="Charlotte Hornets"/>
                                      <label for="teambox4"><img class="img-thumbnail" width="70" alt="Charlotte Hornets" src="https://upload.wikimedia.org/wikipedia/fr/thumb/f/f3/Hornets_de_Charlotte_logo.svg/1200px-Hornets_de_Charlotte_logo.svg.png" /></label>
                                  </li>
                                  <li>
                                      <input type="checkbox" id="teambox5" name="team" value="Chicago Bulls"/>
                                      <label for="teambox5"><img class="img-thumbnail" width="70" alt="Chicago Bulls" src="https://upload.wikimedia.org/wikipedia/fr/thumb/d/d1/Bulls_de_Chicago_logo.svg/1200px-Bulls_de_Chicago_logo.svg.png" /></label>
                                  </li>
                                  <li>
                                      <input type="checkbox" id="teambox6" name="team" value="Cleveland Cavaliers"/>
                                      <label for="teambox6"><img class="img-thumbnail" width="70" alt="Cleveland Cavaliers" src="https://upload.wikimedia.org/wikipedia/fr/thumb/0/06/Cavs_de_Cleveland_logo_2017.png/150px-Cavs_de_Cleveland_logo_2017.png" /></label>
                                  </li>
                                  <li>
                                      <input type="checkbox" id="teambox7" name="team" value="Detroit Pistons"/>
                                      <label for="teambox7"><img class="img-thumbnail" width="70" alt="Detroit Pistons" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Pistons_logo17.svg" /></label>
                                  </li>
                                  <li>
                                      <input type="checkbox" id="teambox8" name="team" value="Indiana Pacers"/>
                                      <label for="teambox8"><img class="img-thumbnail" width="70" alt="Indiana Pacers" src="https://upload.wikimedia.org/wikipedia/fr/thumb/c/cf/Pacers_de_l%27Indiana_logo.svg/1180px-Pacers_de_l%27Indiana_logo.svg.png" /></label>
                                  </li>
                                  <li>
                                      <input type="checkbox" id="teambox9" name="team" value="Miami Heat"/>
                                      <label for="teambox9"><img class="img-thumbnail" width="70" alt="Miami Heat" src="https://upload.wikimedia.org/wikipedia/fr/thumb/1/1c/Miami_Heat_-_Logo.svg/1200px-Miami_Heat_-_Logo.svg.png" /></label>
                                  </li>
                                  <li>
                                      <input type="checkbox" id="teambox10" name="team" value="Milwaukee Bucks"/>
                                      <label for="teambox10"><img class="img-thumbnail" width="70" alt="Milwaukee Bucks" src="https://upload.wikimedia.org/wikipedia/fr/3/34/Bucks2015.png" /></label>
                                  </li>
                                  <li>
                                      <input type="checkbox" id="teambox11" name="team" value="New York Knicks"/>
                                      <label for="teambox11"><img class="img-thumbnail" width="70" alt="New York Knicks" src="https://upload.wikimedia.org/wikipedia/fr/d/dc/NY_Knicks_Logo_2011.png" /></label>
                                  </li>
                                  <li>
                                      <input type="checkbox" id="teambox12" name="team" value="Orlando Magic"/>
                                      <label for="teambox12"><img class="img-thumbnail" width="70" alt="Orlando Magic" src="https://upload.wikimedia.org/wikipedia/fr/b/bd/Orlando_Magic_logo_2010.png" /></label>
                                  </li>
                                  <li>
                                      <input type="checkbox" id="teambox13" name="team" value="Philadelphia 76ers"/>
                                      <label for="teambox13"><img class="img-thumbnail" width="70" alt="Philadelphia 76ers" src="https://upload.wikimedia.org/wikipedia/fr/4/48/76ers_2016.png" /></label>
                                  </li>
                                  <li>
                                      <input type="checkbox" id="teambox14" name="team" value="Toronto Raptors"/>
                                      <label for="teambox14"><img class="img-thumbnail" width="70" alt="Toronto Raptors" src="https://upload.wikimedia.org/wikipedia/fr/8/89/Raptors2015.png" /></label>
                                  </li>
                                  <li>
                                      <input type="checkbox" id="teambox15" name="team" value="Washington Wizards"/>
                                      <label for="teambox15"><img class="img-thumbnail" width="70" alt="Washington Wizards" src="https://upload.wikimedia.org/wikipedia/fr/archive/d/d6/20161212034849%21Wizards2015.png" /></label>
                                  </li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-lg-2 p-5">
                          <div class="col-sm-12 text center p-5">
                              <h2>All teams</h2>
                              <div>
                                  <input type="checkbox" id='teambox' onclick="allTeams(this)" />
                                  <label for="teambox"><img class="img-thumbnail" width="120" alt="nba" src="{% static 'mainapp/img/nba-logo.png' %}"/></label>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-5">
                          <h2>Western conference</h2>
                          <div class="row h-250 align-items-center justify-content-center text-center">
                              <ul>
                                  <li>
                                      <input type="checkbox" id="teambox16" name="team" value="Dallas Mavericks"/>
                                      <label for="teambox16"><img class="img-thumbnail" width="70" alt="Dallas Mavericks" src="https://upload.wikimedia.org/wikipedia/fr/thumb/b/b8/Mavericks_de_Dallas_logo.svg/150px-Mavericks_de_Dallas_logo.svg.png" /></label>
                                  </li>
                                  <li>
                                      <input type="checkbox" id="teambox17" name="team" value="Denver Nuggets"/>
                                      <label for="teambox17"><img class="img-thumbnail" width="70" alt="Denver Nuggets" src="https://upload.wikimedia.org/wikipedia/fr/thumb/3/35/Nuggets_de_Denver_2018.png/180px-Nuggets_de_Denver_2018.png" /></label>
                                  </li>
                                  <li>
                                      <input type="checkbox" id="teambox18" name="team" value="Golden State Warriors"/>
                                      <label for="teambox18"><img class="img-thumbnail" width="70" alt="Golden State Warriors" src="https://upload.wikimedia.org/wikipedia/fr/thumb/d/de/Warriors_de_Golden_State_logo.svg/1200px-Warriors_de_Golden_State_logo.svg.png" /></label>
                                  </li>
                                  <li>
                                      <input type="checkbox" id="teambox19" name="team" value="Houston Rockets"/>
                                      <label for="teambox19"><img class="img-thumbnail" width="70" alt="Houston Rockets" src="https://upload.wikimedia.org/wikipedia/fr/thumb/d/de/Houston_Rockets_logo_2003.png/330px-Houston_Rockets_logo_2003.png" /></label>
                                  </li>
                                  <li>
                                      <input type="checkbox" id="teambox20" name="team" value="LA Clippers"/>
                                      <label for="teambox20"><img class="img-thumbnail" width="70" alt="LA Clippers" src="https://upload.wikimedia.org/wikipedia/fr/d/d6/Los_Angeles_Clippers_logo_2010.png" /></label>
                                  </li>
                                  <li>
                                      <input type="checkbox" id="teambox21" name="team" value="Los Angeles Lakers"/>
                                      <label for="teambox21"><img class="img-thumbnail" width="70" alt="Los Angeles Lakers" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Los_Angeles_Lakers_logo.svg/220px-Los_Angeles_Lakers_logo.svg.png" /></label>
                                  </li>
                                  <li>
                                      <input type="checkbox" id="teambox22" name="team" value="Memphis Grizzlies"/>
                                      <label for="teambox22"><img class="img-thumbnail" width="70" alt="Memphis Grizzlies" src="https://upload.wikimedia.org/wikipedia/en/thumb/f/f1/Memphis_Grizzlies.svg/1200px-Memphis_Grizzlies.svg.png" /></label>
                                  </li>
                                  <li>
                                      <input type="checkbox" id="teambox23" name="team" value="Minnesota Timberwolves"/>
                                      <label for="teambox23"><img class="img-thumbnail" width="70" alt="Minnesota Timberwolves" src="https://upload.wikimedia.org/wikipedia/fr/thumb/d/d9/Timberwolves_du_Minnesota_logo_2017.png/200px-Timberwolves_du_Minnesota_logo_2017.png" /></label>
                                  </li>
                                  <li>
                                      <input type="checkbox" id="teambox24" name="team" value="New Orleans Pelicans"/>
                                      <label for="teambox24"><img class="img-thumbnail" width="70" alt="New Orleans Pelicans" src="https://upload.wikimedia.org/wikipedia/fr/thumb/2/21/New_Orleans_Pelicans.png/200px-New_Orleans_Pelicans.png" /></label>
                                  </li>
                                  <li>
                                      <input type="checkbox" id="teambox25" name="team" value="Oklahoma City Thunder"/>
                                      <label for="teambox25"><img class="img-thumbnail" width="70" alt="Oklahoma City Thunder" src="https://upload.wikimedia.org/wikipedia/fr/thumb/4/4f/Thunder_d%27Oklahoma_City_logo.svg/1200px-Thunder_d%27Oklahoma_City_logo.svg.png" /></label>
                                  </li>
                                  <li>
                                      <input type="checkbox" id="teambox26" name="team" value="Phoenix Suns"/>
                                      <label for="teambox26"><img class="img-thumbnail" width="70" alt="Phoenix Suns" src="https://upload.wikimedia.org/wikipedia/fr/5/56/Phoenix_Suns_2013.png" /></label>
                                  </li>
                                  <li>
                                      <input type="checkbox" id="teambox27" name="team" value="Portland Trail Blazers"/>
                                      <label for="teambox27"><img class="img-thumbnail" width="70" alt="Portland Trail Blazers" src="https://upload.wikimedia.org/wikipedia/en/thumb/2/21/Portland_Trail_Blazers_logo.svg/1200px-Portland_Trail_Blazers_logo.svg.png" /></label>
                                  </li>
                                  <li>
                                      <input type="checkbox" id="teambox28" name="team" value="Sacramento Kings"/>
                                      <label for="teambox28"><img class="img-thumbnail" width="70" alt="Sacramento Kings" src="https://upload.wikimedia.org/wikipedia/fr/thumb/9/95/Kings_de_Sacramento_logo.svg/1200px-Kings_de_Sacramento_logo.svg.png" /></label>
                                  </li>
                                  <li>
                                      <input type="checkbox" id="teambox29" name="team" value="San Antonio Spurs"/>
                                      <label for="teambox29"><img class="img-thumbnail" width="70" alt="San Antonio Spurs" src="https://upload.wikimedia.org/wikipedia/fr/0/0e/San_Antonio_Spurs_2018.png" /></label>
                                  </li>
                                  <li>
                                      <input type="checkbox" id="teambox30" name="team" value="Utah Jazz"/>
                                      <label for="teambox30"><img class="img-thumbnail" width="70" alt="Utah Jazz" src="https://upload.wikimedia.org/wikipedia/fr/3/3b/Jazz_de_l%27Utah_logo.png" /></label>
                                  </li>
                              </ul>
                          </div>
                        </div>
                      </div>
                      <div class="container">
                          <div class="row ">
                              <div class="col-lg-12 align-content-center p-1">
                                <h4 id="text" style="visibility:hidden;">Please select at least one team</h4>
                                <button class="btn btn-info btn-lg" type="submit" >Upload</button>
                              </div>
                              <div class="col-lg-12 d-flex justify-content-center">
                                  <div id="loader" style="visibility: hidden;"></div>
                              </div>
                              {{ l }}
                          </div>
                      </div>
              </form>
          </div>
      </div>
    </div>
  </section>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

<!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2019. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static "mainapp/vendor/jquery/jquery.min.js"%}></script>
  <script src="{% static "mainapp/vendor/bootstrap/js/bootstrap.bundle.min.js"%}></script>

    <script>
    if (auth2.isSignedIn.get()) {
  var profile = auth2.currentUser.get().getBasicProfile();
  console.log('ID: ' + profile.getId());
  console.log('Full Name: ' + profile.getName());
  console.log('Given Name: ' + profile.getGivenName());
  console.log('Family Name: ' + profile.getFamilyName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail());
}
    </script>

    <script>
    function loaderActive() {
      var spinner = document.getElementById('loader');
      spinner.style.visibility = 'visible';
    }
    </script>

  <script>
    function checkedOrNot() {
      // Get the output text
      var text = document.getElementById("text");
      var input1 = document.getElementById('teambox1').checked;
      var input2 = document.getElementById('teambox2').checked;
      var input3 = document.getElementById('teambox3').checked;
      var input4 = document.getElementById('teambox4').checked;
      var input5 = document.getElementById('teambox5').checked;
      var input6 = document.getElementById('teambox6').checked;
      var input7 = document.getElementById('teambox7').checked;
      var input8 = document.getElementById('teambox8').checked;
      var input9 = document.getElementById('teambox9').checked;
      var input10 = document.getElementById('teambox10').checked;
      var input11 = document.getElementById('teambox11').checked;
      var input12 = document.getElementById('teambox12').checked;
      var input13 = document.getElementById('teambox13').checked;
      var input14 = document.getElementById('teambox14').checked;
      var input15 = document.getElementById('teambox15').checked;
      var input16 = document.getElementById('teambox16').checked;
      var input17 = document.getElementById('teambox17').checked;
      var input18 = document.getElementById('teambox18').checked;
      var input19 = document.getElementById('teambox19').checked;
      var input20 = document.getElementById('teambox20').checked;
      var input21 = document.getElementById('teambox21').checked;
      var input22 = document.getElementById('teambox22').checked;
      var input23 = document.getElementById('teambox23').checked;
      var input24 = document.getElementById('teambox24').checked;
      var input25 = document.getElementById('teambox25').checked;
      var input26 = document.getElementById('teambox26').checked;
      var input27 = document.getElementById('teambox27').checked;
      var input28 = document.getElementById('teambox28').checked;
      var input29 = document.getElementById('teambox29').checked;
      var input30 = document.getElementById('teambox30').checked;
      if (input1 === false && input2 === false && input3 === false && input4 === false && input5 === false && input6 === false && input7 === false && input8 === false && input9=== false && input10 === false
      && input11 === false && input12 === false && input13 === false && input14 === false && input15 === false && input16 === false && input17 === false && input18 === false && input19 === false && input20 === false
      && input21 === false && input22 === false && input23 === false && input24 === false && input25 === false && input26 === false && input27 === false && input28 === false && input29 === false && input30 === false) {
            text.style.visibility = "visible";
            text.style.color = 'red';
            return false;
          }
    }
    </script>

    <script>
    function allTeams(source) {
        checkboxes = document.getElementsByName('team');
        for(var i=0, n=checkboxes.length;i<n;i++) {
        checkboxes[i].checked = source.checked;
        }
    }
    </script>
</body>

</html>

