{% extends 'mainapp/layout.html' %}

{% block content %}
  <div class="content-section-contact">
    <div class="row justify-content-md-center p-5">
        <div class="col-md-12 text-center">
          <h2>Terms of use</h2>
          <hr class="divider my-4">
        </div>

      </div>
    </div>
    <div class="row justify-content-center">
    <div class="mentions-bloc col-8">
        <p> Please read carefully the various methods of using this site before browsing its pages. By connecting to this site, you unreservedly accept these terms. Also, according to the article
n ° 6 of Law n ° 2004-575 of June 21, 2004 for confidence in the digital economy, the persons responsible for this site internet www.ns2gc.com are: <br>

        <h4> Site Editor: </h4>

        <p> SARL PEA SIRET number: 000000000000 </p>
        <p> Editorial manager: Pierre-Antoine Bissonnier </p>
        <p> 20 rue de la frite BRUXELLES </p>
        <p> Telephone: 0606060606 </p>
        <p> Fax: 0972249854 </p>
        <p> Email: contact@ns2gc.com </p>
        <p> Website: www.ns2gc.com </p> <br>

        <h4> Accommodation: </h4>

        <p> Host: Digital Ocean </p>
        <p> 50 Fremont St. <br>
            Suite 300 <br>
            San Francisco, CA <br>
            94105 </p>
        <p> Website: <a href="https://www.heroku.com"> </a> www.digital-ocean.com</p> <br>

        <h4> Development: </h4>

        <p> SARL PEA </p>

        <p> Address: 20 rue de la frite BRUXELLES </p>

        <p> Website: www.ns2gc.com </p> <br>

        <h4> Terms of use: </h4>

        <p> This site (www.ns2gc.com) is offered in different web languages ​​(HTML, HTML5, Javascript, CSS, etc.) for a better comfort of use and a more pleasant graphics, we recommend to use to modern browsers like Internet explorer, Safari, Firefox, Google Chrome, etc ... </p>
        <p> The PEA web agency implements all the means at its disposal to ensure reliable information and a reliable update of its websites. However, errors or omissions may occur. The user must therefore ensure the accuracy of the information with, and report any changes of the site that he would consider useful. is in no way responsible for the use made of this information, and any direct or indirect damage which may result therefrom. </p>

        <h5> Cookies: </h5>

        <p> The www.ns2gc.com site may ask you to accept cookies for the purposes of statistics and display. A cookie is information placed on your hard drive by the server of the site you are visiting. It contains several data which is stored on your computer in a simple text file that a server accesses to read and save information. Certain parts of this site cannot be functional without the acceptance of cookies. </p>

        <h5> Hyperlinks: </h5>
        <p> The websites of may offer links to other websites or other available resources on the Internet. SARL PEA has no means to control the sites in connection with its sites Internet. does not answer for or guarantee the availability of such external sites and sources. It cannot be held responsible for any damage of any kind whatsoever resulting from content of these sites or external sources, and in particular information, products or services that they offer, or any use that can be made of these elements. Risks related to this use are the sole responsibility of the user, who must comply with their terms of use. </p>

        <p> Users, subscribers and visitors to websites cannot set up a hyperlink towards this site without the express prior authorization of SARL PEA. </p>

        <p> In the event that a user or visitor wishes to set up a hyperlink to one of the sites internet of SARL PEA, he will have to send an email accessible on the site in order to formulate his request for the establishment of a hyperlink. SARL PEA reserves the right to accept or refuse a hyperlink without having to justify its decision. </p> <br>

        <h4> Services provided: </h4>

        <p> All of the company's activities and its information are presented on our website www.ns2gc.com. </p>

        <p> SARL PEA strives to provide the website www.ns2gc.com with information as precise as possible. The information on the site www.ns2gc.com is not exhaustive and the photos are not contractual. They are given subject to modifications having been made since they were put online. In addition, all  information indicated on the site www.ns2gc.com are given as an indication, and are likely to change or evolve without notice. </p> <br>

        <h4> Contractual limitation on data: </h4>

        <p> The information contained on this site is as precise as possible and the site updated to different  times of the year, but may contain inaccuracies or omissions. If you notice a gap, error or what appears to be a malfunction, please report it by email, to the address contact@ns2gc.com, describing the problem as precisely as possible (page asking problem, type of computer and browser used, etc.). </p>

        <p> All downloaded content is done at the user's own risk and under his sole responsibility. Consequently, cannot be held responsible for any damage suffered by the computer of user or any loss of data as a result of the download. In addition, the user of the site agrees to access the site using recent material, not containing any virus and with a Latest generation browser updated. </p>

        <p> The hypertext links set up within the framework of this website towards other resources present on the Internet cannot engage the responsibility of SARL PEA. </p> <br>

        <h4> Intellectual property: </h4>

        <p> All the content of this site www.ns2gc.com, including, without limitation, graphics, images, texts, videos, animations, sounds, logos, gifs and icons as well as their formatting are the exclusive property of the company with the exception of brands, logos or content belonging to other partner companies or authors. </p>

        <p> Any reproduction, distribution, modification, adaptation, retransmission or publication, even partial, of these various elements is strictly prohibited without the express written consent of SARL PEA. This representation or reproduction, by any means whatsoever, constitutes an infringement punishable by articles L.335-2 and following of the Intellectual Property Code. Failure to comply with this prohibition constitutes an infringement can engage the civil and penal responsibility of the counterfeiter. In addition, the owners of the Content copied could bring legal action against you. </p> <br>

        <h4> Declaration to the CNIL: </h4>

        <p> In accordance with law 78-17 of January 6, 1978 (amended by law 2004-801 of August 6, 2004 relating to protection of individuals with regard to the processing of personal data) relative for computers, files and freedoms, this site has been the subject of a declaration 1656629 to of the National Commission for Data Protection (www.cnil.fr). </p> <br>

        <h4> Disputes: </h4>

        <p> The present conditions of the www.ns2gc.com site are governed by French laws and any dispute or disputes that may arise from the interpretation or execution thereof will be the responsibility exclusive of the courts on which the head office of the company depends. The reference language, for the regulation of possible litigation, is French. </p> <br>

        <h4> Personal data: </h4>

        <p> Generally, you are not required to provide us with your personal data when you visit our website www.ns2gc.com. </p>

        <p> However, this principle has certain exceptions. Indeed, for certain services offered by our site, you may be required to provide us with certain data such as: your name, your position, the name of your company, your email address, and your phone number. This is the case when you fill out the form that is available online, in the "contact" section. </p>

        <p> In any case, you can refuse to provide your personal data. In this case, you will not be able to use the services of the site, in particular that of requesting information about our company, or receive newsletters. </p>

        <p> Finally, we can automatically collect certain information about you during a simple navigation on our website, in particular: information concerning the use of our site, such as the areas you visit and the services you access, your IP address, the type of your browser, your access times. </p>


    </div>
    </div>

{% endblock %}
