{% extends 'mainapp/layout.html' %}

{% block content %}
  <div class="content-section-contact">
    <div class="row justify-content-md-center">
        <div class="col-md-12 text-center p-4">
          <h2>Who am I ?</h2>
          <hr class="divider my-4">
        </div>
      </div>
    <div class="row justify-content-md-center p-2">
        <div class="contact-bloc">
            <div class="row justify-content-md-center">
                <div class="col-md-6 justify-text-md-center">
                    <p> After 7 years of experience in e-commerce as well as web marketer and entrepreneur for more than 4 years, I followed
                          in 2019 the Open Classrooms "Application Developer - PYTHON" program and would like to offer my
                         services in the fields of robotics, data, machine learning or any other sector
                         which will allow me to challenge myself. </p>

                     <p> In addition to my technical skills acquired during my career, I have
                         very good analytical skills and great listening skills. </p>
                    <div class="col-md-12 text-center">
                        <div class="row justify-content-md-center p-5">
                            {% load static %}
                            <div class="col-md-4">
                                <a  href="https://www.linkedin.com/in/pierre-antoine-bissonnier-68885616/" target="_blank">
                                    <img class="img-thumbnail" width="70" src="{% static 'mainapp/img/linkedin.png' %}" alt="linkedin">
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="https://www.malt.fr/profile/pierreantoinebissonnier" target="_blank">
                                    <img class="img-thumbnail" width="70" src="{% static 'mainapp/img/malt.png' %}" alt="malt">
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="https://github.com/pabissonnier" target="_blank">
                                    <img class="img-thumbnail" width="70" src="{% static 'mainapp/img/github.png' %}" alt="github">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
=        </div>
    </div>
  </div>

{% endblock %}
