<!DOCTYPE html>

{% load socialaccount %}
{%  providers_media_js %}

<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>NStoGC - Upload NBA schedule to your Google Calendar</title>

  <!-- Bootstrap core CSS -->
  <link href="{%  static "mainapp/vendor/bootstrap/css/bootstrap.min.css"%}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static "mainapp/vendor/fontawesome-free/css/all.min.css"%}" rel="stylesheet">
  <link href="{% static "mainapp/vendor/simple-line-icons/css/simple-line-icons.css"%}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="{% static "mainapp/css/landing-page.min.css"%}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="364773296968-stbv6t169k4lqn664ed4smh9l7e6ugtr.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" ></script>
</head>

<body>
  {% load static %}
  <!-- Google Connect JavaScript -->
  <script src="{% static "mainapp/js/googleapi.js" %}"></script>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
            <div class="col-6 col-sm-8 col-xl-10 col-lg-8 col-md-8 my-auto">
                <h1><a class="navbar-brand" href="/">NS to GC</a></h1>
            </div>
            {% if user.is_authenticated %}
            <div class="col-3 col-sm-2 col-xl-1 col-lg-2 col-md-2 my-auto float-left">
                <a href="{% url 'profile' %}" id="account">Account</a>
            </div>
            <div class="col-3 col-sm-2 col-xl-1 col-lg-2 col-md-2 my-auto">
                <a href="{% url 'logout' %}" id="signout">Sign out</a>
            </div>
            {%  endif %}
        </div>
  </nav>

  <div class="content-section-profile">
      {% if messages %}
            {% for message in messages %}
                  <div class="alert">
                    <div class="alert alert-{{ message.tags }}">{{  message }}</div>
                  </div>
            {% endfor %}
        {% endif %}
  <div class="container-fluid p-4 text-center">
    <div class="row justify-content-md-center">
        <div class="col-md-12 text-center">
            <h2>Locker room</h2>
            <hr class="divider my-4">
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-5">
            <div class="profile-bloc p-5">
                <div class="profile-text-bloc text-center pb-5">
                   <h4>{{ user.first_name|title }} {{ user.last_name|title }}</h4>
                    <p>{{ user.email }}</p>
                    <a href="/favs" id="favs"><button class="btn btn-info m-3">Favs</button></a>
                    {% if not has_favs %}
                        <div>
                            <a href="/upload" id="upload"><button class="btn btn-info mb-5">Add teams schedule now</button></a>
                        </div>
                    {% else %}
                        <form action='{%  url 'remove-calendar' %}'>
                            <button name="rm-calendar" type="submit" class="btn btn-info mb-5">Remove calendar</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
      </div>
  </div>
<!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="/contact">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="/terms">Terms of Use</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy;PéA. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static "mainapp/vendor/jquery/jquery.min.js"%}></script>
  <script src="{% static "mainapp/vendor/bootstrap/js/bootstrap.bundle.min.js"%}></script>

    <script>
    if (auth2.isSignedIn.get()) {
  var profile = auth2.currentUser.get().getBasicProfile();
  console.log('ID: ' + profile.getId());
  console.log('Full Name: ' + profile.getName());
  console.log('Given Name: ' + profile.getGivenName());
  console.log('Family Name: ' + profile.getFamilyName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail());
}
    </script>
</body>

</html>
